<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en-us" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Untitled 1</title>
<style type="text/css">
.auto-style1 {
	text-align: center;
	font-size: xx-large;
	text-decoration: underline;
	font-family: "Engravers MT";
	background-color: #FFFFFF;
}
.auto-style2 {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	background-color: #FFFFFF;
}
.auto-style3 {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	background-color: #FF99CC;
}
</style>
</head>

<body style="background-color: #FF99CC">

<p class="auto-style1"><strong>MATH magazine!</strong></p>
<p class="auto-style2"><a href="HOME%20TAPS.html">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="OUR%20PROJECTS.html">OUR PROJECTS </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="CLASS%20ACTIVITIES.html">&nbsp;CLASS&nbsp; ACTIVITIES</a>&nbsp;&nbsp;&nbsp;
</p>
<p class="auto-style3">
<img alt="" height="652" src="../../../AppData/Local/Packages/5319275A.WhatsAppDesktop_cv1g1gvanyjgm/TempState/D65005F8326D0B686626659917739E25/WhatsApp%20Image%202024-10-15%20at%2019.05.41_614fb370.jpg" style="float: left" width="489" /></p>
<p class="auto-style3">
<img alt="" height="652" src="../../../AppData/Local/Packages/5319275A.WhatsAppDesktop_cv1g1gvanyjgm/TempState/DFF7948DF405F33A5DD46367480DBF2F/WhatsApp%20Image%202024-10-15%20at%2019.05.42_de3d309b.jpg" width="489" /></p>

</body>

</html>
